form#wimb select[name="ipp"]{
	width:65px;
	margin-left:10px;
}

form#wimb input#ccm-submit-wimb{
	float:left;
}

form#wimb img#ccm-wimb-loading{
	width:43px;
	height:11px;
	margin:9px 0 0 10px;
	display:none;
	float:left;
}

table#ccm-where-is-my-block th{
	width:10%;
}

table#ccm-where-is-my-block th:first-child,
table#ccm-where-is-my-block th:first-child + th{
	width:45%;
}

table#ccm-where-is-my-block tr.ccm-list-record td{
	cursor:default;
}

table#ccm-where-is-my-block tr.ccm-list-record a{
	display:block;
}