form#wimb select[name="ipp"]{
	width:65px;
	margin-left:10px;
}

form#wimb input#ccm-submit-wimb{
	float:left;
}

form#wimb img#ccm-wimb-loading{
	width:43px;
	height:11px;
	margin:9px 0 0 10px;
	display:none;
	float:left;
}

table#ccm-where-is-my-block th{
	width:10%;
}

table#ccm-where-is-my-block th:first-child,
table#ccm-where-is-my-block th:first-child + th{
	width:45%;
}

table#ccm-where-is-my-block tr.ccm-list-record td{
	cursor:default;
}

table#ccm-where-is-my-block tr.ccm-list-record a{
	display:block;
}

div.ccm-paging-top{
	width:100%;
	margin:0 0 15px;
	clear:both;
	float:left;
}

div#bodyOverlay{
	width:100%;
	height:100%;
	background:#fff;
	display:none;
	opacity:0.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter:alpha(opacity=50);
	position:absolute;
	top:0;
	left:0;
	z-index:20;
	-webkit-border-radius:6px;
	border-radius:6px;
}