#wimb select[name="ipp"]{
	width:65px;
	margin-left:10px;
}

#wimb #ccm-submit-wimb{
	float:left;
}

#wimb #ccm-wimb-loading{
	width:43px;
	height:11px;
	margin:9px 0 0 10px;
	display:none;
	float:left;
}

#ccm-where-is-my-block th{
	width:10%;
	font-weight:bold;
}

#ccm-where-is-my-block th:first-child,
#ccm-where-is-my-block th:first-child + th{
	width:45%;
}

#ccm-where-is-my-block tr.ccm-list-record td{
	cursor:default;
}

#ccm-where-is-my-block tr.ccm-list-record a{
	display:block;
}

.ccm-paging-top{
	width:100%;
	margin:0 0 5px;
	clear:both;
	float:left;
}

.ccm-pane-body hr{
	clear:both;
}